.mainblock {
    position: relative;
    overflow: auto;
}

.photowrapper {
    display: flex;
    flex-wrap: wrap;
}

.photoicon {
    width: 195px;
    margin: 20px;
    position: relative;
}

.photobutton {
    width: 195px;
    background-color: hotpink;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;;
    position: absolute;
    top: 140px;
    left: -10px;
    border: solid 1px gray;
    overflow: auto;
}

.thumblink:link, .thumblink:visited {
    color: white;
    text-decoration: none;
}

.thumblink:hover {
    color: gray;
}

@media only screen and (max-width: 640px) {
    .photoicon {
        float: left;
        width: 100%;
    }

}